<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Bare - Start Bootstrap Template</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<style>
		body {
			padding-top: 40px;
			color: #808080;
		}

		table td{
			padding: 8px;
		}
	</style>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

    	<!-- Page Content -->
    	<div class="container">

    		<div class="row">
    			<div class="col-md-12 text-center">
    				<h1>特性跟踪表</h1>
    			</div>

    			<div class="table-responsive">

    				<table class="table  table-hover" >
    				<tr>
						<th style="width: 15%">特性名称</th>
						<th style="width: 5%"></th>
						<th style="width: 65%">进度</th>
						<th style="width: 10%">责任人</th>
						<th style="width: 5%"></th>
			        </tr>
    					<tr>
    						<td><span>weaffdafad所地方司法三分散对方所担负所担负<br>gsdfgag</span></td>
    						<td><span class="label label-danger">高</span></td>
    						<td>
    							<div class="progress">
    								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    									<span class="sr-only">40% Complete (success)</span>
    								</div>
    							</div>
    						</td>
    						<td>yujian</td>

    						<td><span class="glyphicon glyphicon-pencil"></span></td>
    					</tr>

    					<tr>
    						<td><span>weaffdafad所地方司法三分散对方所担负所担负weaffdafad所地方司法三分散对方所担负所担负weaffdafad所地方司法三分散对方所担负所担负weaffdafad所地方司法三分散对方所担负所担负<br>gsdfgag</span></td>
    						<td><span class="label label-success">低</span></td>
    						<td>
    							<div class="progress">
    								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    									<span class="sr-only">40% Complete (success)</span>
    								</div>
    							</div>
    						</td>
    						<td>yujian</td>
    						<td><span class="glyphicon glyphicon-pencil"></span></td>

    					</tr>


    					<tr>
    						<td><span>weaffdafad所地方司法三分散对方所担负所担负<br>gsdfgag</span></td>
    						<td><span class="label label-info">中</span></td>
    						<td>
    							<div class="progress">
    								<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
    									<span class="sr-only">40% Complete (success)</span>
    								</div>
    							</div>
    						</td>
    						<td>yujian</td>
    						<td><span class="glyphicon glyphicon-pencil"></span></td>

    					</tr>
    				</table>
    				
    			</div>
    		</div>
    		<!-- /.row -->

    	</div>
    	<!-- /.container -->

    	<!-- jQuery Version 1.11.0 -->
    	<script src="js/jquery-1.11.0.js"></script>

    	<!-- Bootstrap Core JavaScript -->
    	<script src="js/bootstrap.min.js"></script>

    </body>

    </html>
